<%= @user.inspect %>

<div class='avatar'>
    <%= image_tag @user.avatar.url %>
</div>

<% if @user == current_user %>
    <%# поля для редактирования %>
<% end %>

<%# поля для изменения цветов %>
<%# показывать ли код комнаты по дефолту %>

<%# рейтинг? %>