<div class='hidden' id='score-block'>
    <div class='form-background'><div>
        <p><span>GAME OVER</span></p>
        <p class='ps'>Your score: <span id='score'>0</span></p>
        <hr>
        <p>Returning to the room...</p>
    </div></div>
</div>
