<div class='room-code'>
    <%= @room.code %>
</div>
<div class="room-container">
    <div id="players">
        <div class="player-info"></div>
        <div class="player-info"></div>
        <div class="player-info"></div>
    </div>
    <div class="settings">

    </div>
</div>

<%= Guest.all.inspect %>