@import 'style';

%background_with_image {
    background-color: $background;
    background-image: image-url('background_template.svg');
    background-repeat: repeat;
}
%buttons {
    display: block;
    border-width: 0;
    border-style: none;
    text-align: center;
}
%scroll-bar {
    scrollbar-color: $input-background $button-border;
    scrollbar-width: auto;
}
%body-sizes {
    width: 100vw;
    height: 100vh;
}

// FORM STYLE
%form-borders {
    border-color: $form-color;
    border-width: 5px;
    border-style: solid;
}
%doubled-container-back {
    background-color: $form-background;
    padding: 10px;
    border-radius: 25px;
}
%doubled-container-front {
    @extend %form-borders;
    border-radius: 20px;
    color: $form-color;
}

// CONTAINERS
%center-one-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
%flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
%flex-container-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
}
%pare-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: stretch;

    > * { flex: 1 1 auto; }
}
// %center-container{
//     margin: 0 auto;
//     width: fit-content;
// }
