// ----- COLORS -----
$error: #FF4646;

$button-success: #4BAD37;
$button-dangerous: #FF4646;
$button-border: #404045;
$button-color: #E1E1E1;
$background: #46464A;

$container: #a24659;
$container-blocks-color: #56325b;

$form-background: #F0DB8C;
$form-color: $button-border;
$input-background: #DFC57C;
$input-color: $form-color;
$input-border: #D1B36E;

$avatar-background: #141414;

// ----- SIZES -----
$font-size: 16px;
$font-size-mini: 11px;
