$button-success: #4BAD37;
$button-success-border: #404045;
$button-success-color: #E1E1E1;
$background: #46464A;

$container: #a24659;
$container-blocks-color: #56325b;

$form-background: #F0DB8C;
$form-color: $button-success-border;
$input-background: #DFC57C;
$input-color: $form-color;
$input-border: #D1B36E;

$error: #FF4646;
